<main>
  <div class="main">
    <h1 class="title">Angular.js Integration Example</h1>
    <div class="layout">
      <div class="button-group">
        <h3>Load Survey</h3>
        <button (click)="changeSurvey('survey1')">Remote JSON 1</button>
        <button (click)="changeSurvey('survey2')">Remote JSON 2</button>
        <button (click)="changeSurvey('local')">Local JSON attr</button>
        <button (click)="setSurveyJson()">Local JSON prop</button>
        <h3>API interactions</h3>
        <button (click)="resetSurvey()">Reset</button>
        <button (click)="goPrev()"> &#8592; Prev</button>
        <button (click)="goNext()"> &#8594; Next</button>
      </div>
      <div class="survey-container">
        <cue-catch #my_survey cache="memory" [src]="surveySource" (cuechange)="handleChange($event)" />
      </div>
    </div>
  </div>
</main>

<router-outlet />